body{ 
    background-color: rgb(0, 0, 0);
}

.start{
     text-align:center;
     color: white;
     
}

img{
width: 500px;
align-items: center;
}

.linhas{
color: white;
}

.linhe{
color: white;
}

.limpo{
color: white;
}

.tabela{
    color: white;
    border-radius: 3px;
}

